@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fjqg3u');
  src:  url('fonts/icomoon.eot?fjqg3u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fjqg3u') format('truetype'),
    url('fonts/icomoon.woff?fjqg3u') format('woff'),
    url('fonts/icomoon.svg?fjqg3u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="markericon-"], [class*=" markericon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.markericon-ambulance:before {
  content: "\e992";
}
.markericon-anchor:before {
  content: "\e993";
}
.markericon-angry:before {
  content: "\e994";
}
.markericon-apple-alt:before {
  content: "\e995";
}
.markericon-archive:before {
  content: "\e996";
}
.markericon-archway:before {
  content: "\e997";
}
.markericon-at:before {
  content: "\e998";
}
.markericon-bed:before {
  content: "\e999";
}
.markericon-beer2:before {
  content: "\e99a";
}
.markericon-bicycle2:before {
  content: "\e99b";
}
.markericon-binoculars:before {
  content: "\e99c";
}
.markericon-blind:before {
  content: "\e99d";
}
.markericon-bolt:before {
  content: "\e99e";
}
.markericon-bong:before {
  content: "\e99f";
}
.markericon-book:before {
  content: "\e9a0";
}
.markericon-book-open:before {
  content: "\e9a1";
}
.markericon-book-reader:before {
  content: "\e9a2";
}
.markericon-boxes:before {
  content: "\e9a3";
}
.markericon-briefcase:before {
  content: "\e9a4";
}
.markericon-briefcase-medical:before {
  content: "\e9a5";
}
.markericon-broadcast-tower:before {
  content: "\e9a6";
}
.markericon-broom:before {
  content: "\e9a7";
}
.markericon-brush:before {
  content: "\e9a8";
}
.markericon-building2:before {
  content: "\e9a9";
}
.markericon-bus2:before {
  content: "\e9aa";
}
.markericon-bus-alt:before {
  content: "\e9ab";
}
.markericon-camera:before {
  content: "\e9ac";
}
.markericon-camera-retro:before {
  content: "\e9ad";
}
.markericon-cannabis:before {
  content: "\e9ae";
}
.markericon-car2:before {
  content: "\e9af";
}
.markericon-car-alt:before {
  content: "\e9b0";
}
.markericon-car-battery:before {
  content: "\e9b1";
}
.markericon-car-crash:before {
  content: "\e9b2";
}
.markericon-car-side:before {
  content: "\e9b3";
}
.markericon-cart-arrow-down:before {
  content: "\e9b4";
}
.markericon-charging-station:before {
  content: "\e9b5";
}
.markericon-child:before {
  content: "\e9b6";
}
.markericon-church:before {
  content: "\e9b7";
}
.markericon-clipboard-check:before {
  content: "\e9b8";
}
.markericon-clipboard-list:before {
  content: "\e9b9";
}
.markericon-clock:before {
  content: "\e9ba";
}
.markericon-cocktail:before {
  content: "\e9bb";
}
.markericon-coffee:before {
  content: "\e9bc";
}
.markericon-comment:before {
  content: "\e9bd";
}
.markericon-comments:before {
  content: "\e9be";
}
.markericon-diagnoses:before {
  content: "\e9bf";
}
.markericon-door-closed:before {
  content: "\e9c0";
}
.markericon-door-open:before {
  content: "\e9c1";
}
.markericon-envelope:before {
  content: "\e9c2";
}
.markericon-envelope-open:before {
  content: "\e9c3";
}
.markericon-eye:before {
  content: "\e9c4";
}
.markericon-eye-slash:before {
  content: "\e9c5";
}
.markericon-female:before {
  content: "\e9c6";
}
.markericon-fighter-jet:before {
  content: "\e9c7";
}
.markericon-film:before {
  content: "\e9c8";
}
.markericon-flag:before {
  content: "\e9c9";
}
.markericon-flag-checkered:before {
  content: "\e9ca";
}
.markericon-football-ball:before {
  content: "\e9cb";
}
.markericon-frog:before {
  content: "\e9cc";
}
.markericon-frown:before {
  content: "\e9cd";
}
.markericon-frown-open:before {
  content: "\e9ce";
}
.markericon-gas-pump:before {
  content: "\e9cf";
}
.markericon-glasses:before {
  content: "\e9d0";
}
.markericon-glass-martini:before {
  content: "\e9d1";
}
.markericon-glass-martini-alt:before {
  content: "\e9d2";
}
.markericon-globe-africa:before {
  content: "\e9d3";
}
.markericon-globe-americas:before {
  content: "\e9d4";
}
.markericon-globe-asia:before {
  content: "\e9d5";
}
.markericon-hand-holding:before {
  content: "\e9d6";
}
.markericon-hand-holding-heart:before {
  content: "\e9d7";
}
.markericon-hand-holding-usd:before {
  content: "\e9d8";
}
.markericon-hand-peace:before {
  content: "\e9d9";
}
.markericon-headphones:before {
  content: "\e9da";
}
.markericon-headphones-alt:before {
  content: "\e9db";
}
.markericon-helicopter:before {
  content: "\e9dc";
}
.markericon-home2:before {
  content: "\e9dd";
}
.markericon-hospital2:before {
  content: "\e9de";
}
.markericon-hospital-alt:before {
  content: "\e9df";
}
.markericon-hospital-symbol:before {
  content: "\e9e0";
}
.markericon-hotel:before {
  content: "\e9e1";
}
.markericon-hot-tub:before {
  content: "\e9e2";
}
.markericon-h-square:before {
  content: "\e9e3";
}
.markericon-id-card:before {
  content: "\e9e4";
}
.markericon-image:before {
  content: "\e9e5";
}
.markericon-industry2:before {
  content: "\e9e6";
}
.markericon-info:before {
  content: "\e9e7";
}
.markericon-info-circle:before {
  content: "\e9e8";
}
.markericon-layer-group:before {
  content: "\e9e9";
}
.markericon-leaf:before {
  content: "\e9ea";
}
.markericon-lightbulb:before {
  content: "\e9eb";
}
.markericon-location-arrow:before {
  content: "\e9ec";
}
.markericon-low-vision:before {
  content: "\e9ed";
}
.markericon-luggage-cart:before {
  content: "\e9ee";
}
.markericon-male:before {
  content: "\e9ef";
}
.markericon-map:before {
  content: "\e9f0";
}
.markericon-map-marked:before {
  content: "\e9f1";
}
.markericon-map-marked-alt:before {
  content: "\e9f2";
}
.markericon-map-marker:before {
  content: "\e9f3";
}
.markericon-map-marker-alt:before {
  content: "\e9f4";
}
.markericon-medal:before {
  content: "\e9f5";
}
.markericon-medkit:before {
  content: "\e9f6";
}
.markericon-memory:before {
  content: "\e9f7";
}
.markericon-money-bill:before {
  content: "\e9f8";
}
.markericon-money-bill-alt:before {
  content: "\e9f9";
}
.markericon-money-bill-wave:before {
  content: "\e9fa";
}
.markericon-money-bill-wave-alt:before {
  content: "\e9fb";
}
.markericon-money-check:before {
  content: "\e9fc";
}
.markericon-money-check-alt:before {
  content: "\e9fd";
}
.markericon-monument2:before {
  content: "\e9fe";
}
.markericon-moon:before {
  content: "\e9ff";
}
.markericon-mortar-pestle:before {
  content: "\ea00";
}
.markericon-motorcycle:before {
  content: "\ea01";
}
.markericon-mouse-pointer:before {
  content: "\ea02";
}
.markericon-music2:before {
  content: "\ea03";
}
.markericon-neuter:before {
  content: "\ea04";
}
.markericon-newspaper:before {
  content: "\ea05";
}
.markericon-notes-medical:before {
  content: "\ea06";
}
.markericon-oil-can:before {
  content: "\ea07";
}
.markericon-paint-brush:before {
  content: "\ea08";
}
.markericon-paint-roller:before {
  content: "\ea09";
}
.markericon-palette:before {
  content: "\ea0a";
}
.markericon-paper-plane:before {
  content: "\ea0b";
}
.markericon-parking2:before {
  content: "\ea0c";
}
.markericon-paw:before {
  content: "\ea0d";
}
.markericon-pen-nib:before {
  content: "\ea0e";
}
.markericon-people-carry:before {
  content: "\ea0f";
}
.markericon-phone:before {
  content: "\ea10";
}
.markericon-phone-square:before {
  content: "\ea11";
}
.markericon-phone-volume:before {
  content: "\ea12";
}
.markericon-plane:before {
  content: "\ea13";
}
.markericon-plane-arrival:before {
  content: "\ea14";
}
.markericon-plane-departure:before {
  content: "\ea15";
}
.markericon-poo:before {
  content: "\ea16";
}
.markericon-poop:before {
  content: "\ea17";
}
.markericon-procedures:before {
  content: "\ea18";
}
.markericon-road:before {
  content: "\ea19";
}
.markericon-rocket2:before {
  content: "\ea1a";
}
.markericon-save:before {
  content: "\ea1b";
}
.markericon-school2:before {
  content: "\ea1c";
}
.markericon-ship:before {
  content: "\ea1d";
}
.markericon-shipping-fast:before {
  content: "\ea1e";
}
.markericon-shoe-prints:before {
  content: "\ea1f";
}
.markericon-shopping-basket:before {
  content: "\ea20";
}
.markericon-shower:before {
  content: "\ea21";
}
.markericon-shuttle-van:before {
  content: "\ea22";
}
.markericon-skull:before {
  content: "\ea23";
}
.markericon-smoking:before {
  content: "\ea24";
}
.markericon-smoking-ban:before {
  content: "\ea25";
}
.markericon-snowflake:before {
  content: "\ea26";
}
.markericon-space-shuttle:before {
  content: "\ea27";
}
.markericon-stethoscope:before {
  content: "\ea28";
}
.markericon-store:before {
  content: "\ea29";
}
.markericon-store-alt:before {
  content: "\ea2a";
}
.markericon-street-view:before {
  content: "\ea2b";
}
.markericon-subway:before {
  content: "\ea2c";
}
.markericon-suitcase2:before {
  content: "\ea2d";
}
.markericon-suitcase-rolling:before {
  content: "\ea2e";
}
.markericon-sun:before {
  content: "\ea2f";
}
.markericon-swimmer:before {
  content: "\ea30";
}
.markericon-swimming-pool:before {
  content: "\ea31";
}
.markericon-syringe:before {
  content: "\ea32";
}
.markericon-table:before {
  content: "\ea33";
}
.markericon-table-tennis:before {
  content: "\ea34";
}
.markericon-tachometer-alt:before {
  content: "\ea35";
}
.markericon-tag:before {
  content: "\ea36";
}
.markericon-tape:before {
  content: "\ea37";
}
.markericon-taxi:before {
  content: "\ea38";
}
.markericon-theater-masks:before {
  content: "\ea39";
}
.markericon-thermometer:before {
  content: "\ea3a";
}
.markericon-thermometer-empty:before {
  content: "\ea3b";
}
.markericon-tint:before {
  content: "\ea3c";
}
.markericon-toolbox:before {
  content: "\ea3d";
}
.markericon-tooth:before {
  content: "\ea3e";
}
.markericon-traffic-light:before {
  content: "\ea3f";
}
.markericon-train:before {
  content: "\ea40";
}
.markericon-tree:before {
  content: "\ea41";
}
.markericon-truck:before {
  content: "\ea42";
}
.markericon-truck-monster:before {
  content: "\ea43";
}
.markericon-truck-moving:before {
  content: "\ea44";
}
.markericon-truck-pickup:before {
  content: "\ea45";
}
.markericon-tshirt:before {
  content: "\ea46";
}
.markericon-tty:before {
  content: "\ea47";
}
.markericon-tv:before {
  content: "\ea48";
}
.markericon-umbrella:before {
  content: "\ea49";
}
.markericon-umbrella-beach:before {
  content: "\ea4a";
}
.markericon-universal-access:before {
  content: "\ea4b";
}
.markericon-university:before {
  content: "\ea4c";
}
.markericon-user:before {
  content: "\ea4d";
}
.markericon-utensils:before {
  content: "\ea4e";
}
.markericon-volleyball-ball:before {
  content: "\ea4f";
}
.markericon-walking:before {
  content: "\ea50";
}
.markericon-wallet:before {
  content: "\ea51";
}
.markericon-warehouse2:before {
  content: "\ea52";
}
.markericon-weight:before {
  content: "\ea53";
}
.markericon-wheelchair2:before {
  content: "\ea54";
}
.markericon-wine-glass:before {
  content: "\ea55";
}
.markericon-wine-glass-alt:before {
  content: "\ea56";
}
.markericon-wrench:before {
  content: "\ea57";
}
.markericon-aerialway:before {
  content: "\e900";
}
.markericon-airfield:before {
  content: "\e901";
}
.markericon-airport:before {
  content: "\e902";
}
.markericon-alcohol-shop:before {
  content: "\e903";
}
.markericon-america-football:before {
  content: "\e904";
}
.markericon-amusement-park:before {
  content: "\e905";
}
.markericon-aquarium:before {
  content: "\e906";
}
.markericon-art-gallery:before {
  content: "\e907";
}
.markericon-attraction:before {
  content: "\e908";
}
.markericon-bakery:before {
  content: "\e909";
}
.markericon-bank:before {
  content: "\e90a";
}
.markericon-bar:before {
  content: "\e90b";
}
.markericon-barrier:before {
  content: "\e90c";
}
.markericon-baseball:before {
  content: "\e90d";
}
.markericon-basketball:before {
  content: "\e90e";
}
.markericon-bbq:before {
  content: "\e90f";
}
.markericon-beer:before {
  content: "\e910";
}
.markericon-bicycle:before {
  content: "\e911";
}
.markericon-bicycle-share:before {
  content: "\e912";
}
.markericon-blood-bank:before {
  content: "\e913";
}
.markericon-buddhism:before {
  content: "\e914";
}
.markericon-building:before {
  content: "\e915";
}
.markericon-building-alt1:before {
  content: "\e916";
}
.markericon-bus:before {
  content: "\e917";
}
.markericon-cafe:before {
  content: "\e918";
}
.markericon-campsite:before {
  content: "\e919";
}
.markericon-car:before {
  content: "\e91a";
}
.markericon-castle:before {
  content: "\e91b";
}
.markericon-cemetery:before {
  content: "\e91c";
}
.markericon-cinema:before {
  content: "\e91d";
}
.markericon-circle:before {
  content: "\e91e";
}
.markericon-circle-stroked:before {
  content: "\e91f";
}
.markericon-city:before {
  content: "\e920";
}
.markericon-clothing-store:before {
  content: "\e921";
}
.markericon-college:before {
  content: "\e922";
}
.markericon-commercial:before {
  content: "\e923";
}
.markericon-cricket:before {
  content: "\e924";
}
.markericon-cross:before {
  content: "\e925";
}
.markericon-dam:before {
  content: "\e926";
}
.markericon-danger:before {
  content: "\e927";
}
.markericon-defibrillator:before {
  content: "\e928";
}
.markericon-dentist:before {
  content: "\e929";
}
.markericon-doctor:before {
  content: "\e92a";
}
.markericon-dog-park:before {
  content: "\e92b";
}
.markericon-drinking-water:before {
  content: "\e92c";
}
.markericon-embassy:before {
  content: "\e92d";
}
.markericon-emergency-phone:before {
  content: "\e92e";
}
.markericon-entrance:before {
  content: "\e92f";
}
.markericon-entrance-alt1:before {
  content: "\e930";
}
.markericon-farm:before {
  content: "\e931";
}
.markericon-fast-food:before {
  content: "\e932";
}
.markericon-fence:before {
  content: "\e933";
}
.markericon-ferry:before {
  content: "\e934";
}
.markericon-fire-station:before {
  content: "\e935";
}
.markericon-florist:before {
  content: "\e936";
}
.markericon-fuel:before {
  content: "\e937";
}
.markericon-gaming:before {
  content: "\e938";
}
.markericon-garden:before {
  content: "\e939";
}
.markericon-garden-center:before {
  content: "\e93a";
}
.markericon-gift:before {
  content: "\e93b";
}
.markericon-golf:before {
  content: "\e93c";
}
.markericon-grocery:before {
  content: "\e93d";
}
.markericon-hairdresser:before {
  content: "\e93e";
}
.markericon-harbor:before {
  content: "\e93f";
}
.markericon-heart:before {
  content: "\e940";
}
.markericon-heliport:before {
  content: "\e941";
}
.markericon-home:before {
  content: "\e942";
}
.markericon-horse-riding:before {
  content: "\e943";
}
.markericon-hospital:before {
  content: "\e944";
}
.markericon-ice-cream:before {
  content: "\e945";
}
.markericon-industry:before {
  content: "\e946";
}
.markericon-information:before {
  content: "\e947";
}
.markericon-karaoke:before {
  content: "\e948";
}
.markericon-landmark:before {
  content: "\e949";
}
.markericon-landuse:before {
  content: "\e94a";
}
.markericon-laundry:before {
  content: "\e94b";
}
.markericon-library:before {
  content: "\e94c";
}
.markericon-lighthouse:before {
  content: "\e94d";
}
.markericon-lodging:before {
  content: "\e94e";
}
.markericon-logging:before {
  content: "\e94f";
}
.markericon-marker:before {
  content: "\e950";
}
.markericon-marker-stroked:before {
  content: "\e951";
}
.markericon-mobile-phone:before {
  content: "\e952";
}
.markericon-monument:before {
  content: "\e953";
}
.markericon-mountain:before {
  content: "\e954";
}
.markericon-museum:before {
  content: "\e955";
}
.markericon-music:before {
  content: "\e956";
}
.markericon-natural:before {
  content: "\e957";
}
.markericon-park:before {
  content: "\e958";
}
.markericon-park-alt1:before {
  content: "\e959";
}
.markericon-parking:before {
  content: "\e95a";
}
.markericon-parking-garage:before {
  content: "\e95b";
}
.markericon-pharmacy:before {
  content: "\e95c";
}
.markericon-picnic-site:before {
  content: "\e95d";
}
.markericon-pitch:before {
  content: "\e95e";
}
.markericon-place-of-worship:before {
  content: "\e95f";
}
.markericon-playground:before {
  content: "\e960";
}
.markericon-police:before {
  content: "\e961";
}
.markericon-post:before {
  content: "\e962";
}
.markericon-prison:before {
  content: "\e963";
}
.markericon-rail:before {
  content: "\e964";
}
.markericon-rail-light:before {
  content: "\e965";
}
.markericon-rail-metro:before {
  content: "\e966";
}
.markericon-ranger-station:before {
  content: "\e967";
}
.markericon-recycling:before {
  content: "\e968";
}
.markericon-religious-christian:before {
  content: "\e969";
}
.markericon-religious-jewish:before {
  content: "\e96a";
}
.markericon-religious-muslim:before {
  content: "\e96b";
}
.markericon-residential-community:before {
  content: "\e96c";
}
.markericon-restaurant:before {
  content: "\e96d";
}
.markericon-roadblock:before {
  content: "\e96e";
}
.markericon-rocket:before {
  content: "\e96f";
}
.markericon-school:before {
  content: "\e970";
}
.markericon-scooter:before {
  content: "\e971";
}
.markericon-shelter:before {
  content: "\e972";
}
.markericon-shop:before {
  content: "\e973";
}
.markericon-skiing:before {
  content: "\e974";
}
.markericon-slaughterhouse:before {
  content: "\e975";
}
.markericon-snowmobile:before {
  content: "\e976";
}
.markericon-soccer:before {
  content: "\e977";
}
.markericon-square:before {
  content: "\e978";
}
.markericon-square-stroked:before {
  content: "\e979";
}
.markericon-stadium:before {
  content: "\e97a";
}
.markericon-star:before {
  content: "\e97b";
}
.markericon-star-stroked:before {
  content: "\e97c";
}
.markericon-suitcase:before {
  content: "\e97d";
}
.markericon-sushi:before {
  content: "\e97e";
}
.markericon-swimming:before {
  content: "\e97f";
}
.markericon-teahouse:before {
  content: "\e980";
}
.markericon-telephone:before {
  content: "\e981";
}
.markericon-tennis:before {
  content: "\e982";
}
.markericon-theatre:before {
  content: "\e983";
}
.markericon-toilet:before {
  content: "\e984";
}
.markericon-town:before {
  content: "\e985";
}
.markericon-town-hall:before {
  content: "\e986";
}
.markericon-triangle:before {
  content: "\e987";
}
.markericon-triangle-stroked:before {
  content: "\e988";
}
.markericon-veterinary:before {
  content: "\e989";
}
.markericon-village:before {
  content: "\e98a";
}
.markericon-volcano:before {
  content: "\e98b";
}
.markericon-warehouse:before {
  content: "\e98c";
}
.markericon-waste-basket:before {
  content: "\e98d";
}
.markericon-water:before {
  content: "\e98e";
}
.markericon-wetland:before {
  content: "\e98f";
}
.markericon-wheelchair:before {
  content: "\e990";
}
.markericon-zoo:before {
  content: "\e991";
}
